@model  IEnumerable<Graduation.Models.AnnounceModel>

@{
    Layout = "~/Views/Shared/Guide.cshtml";
}
@if (ViewBag.type == "1")
{
    ViewBag.type = "display:none";
}

<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <h2>求职与就业信息管理系统</h2>
        <div class="right">
            <span>欢迎&nbsp;&nbsp;</span><span class="admin">就业中心管理员：</span><span class="admin">Admin</span><span>&nbsp;&nbsp;登录本系统</span>
        </div>
    </div>
    <div class="templatemo-content-container now-position">
        <span>当前位置：</span><span>通知管理>></span>通知公告<span></span><span></span>
        <h1 class="ly-title">通知公告</h1>

        <div class="new">
            @foreach (var item in Model)
            {
                <p> @Html.ActionLink(@item.Title, "AnnounceDetails", new { AnnounceId = @item.AnnounceId }); </p>
            }
        </div>
        <footer class="text-right"></footer>
    </div>
</div>