<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>就业签约管理</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
</head>
<body>
    <!-- Left column -->
    <div class="templatemo-flex-row">
        <div class="templatemo-sidebar">
            <header class="templatemo-site-header">
                <h1>华北电力大学</h1>
            </header>
            <div class="profile-photo-container">
                <img src="../../images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
                <div class="profile-photo-overlay"></div>
            </div>
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="templatemo-left-nav">
                <ul class="ly-ul-parent">
                    <li>
                        <a href="/FillBaseInfo/Index" class="active">
                            <i class="fa fa-home fa-fw"></i>
                            通知
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/FillBaseInfo">
                            <i class="fa fa-bar-chart fa-fw"></i>
                            基本信息管理
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/FillapplInfo">
                            <i class="fa fa-database fa-fw"></i>
                            求职信息管理
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/EmployInfo">
                            <i class="fa fa-map-marker fa-fw"></i>
                            就业信息管理
                        </a>
                    </li>
                    <li>
                        <a href="/FillBaseInfo/FillSignInfo">
                            <i class="fa fa-users fa-fw"></i>
                            签约登记管理
                        </a>
                    </li>
                    <li>
                        <a href="StudentLogin.html">
                            <i class="fa fa-sliders fa-fw"></i>
                            修改密码
                        </a>
                    </li>
                    <li>
                        <a href="StudentImg.html">
                            <i class="fa fa-eject fa-fw"></i>
                            上传照片
                        </a>
                    </li>
                    <li>
                        <a href="StudentLogin.html">
                            <i class="fa fa-user-md fa-fw"></i>
                            退出系统
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Main content -->
        <div class="templatemo-content col-1 light-gray-bg">
            <div class="templatemo-top-nav-container">
                <h2>求职与就业信息管理系统</h2>
                <div class="right">
                    <span>用户信息：</span><span>学号：</span><span>&nbsp;&nbsp;</span><span class="admin">ViewBag.number</span>
                </div>
            </div>
            <div class="templatemo-content-container now-position ly-tab">
                <span>当前位置：</span><span>毕业生登录>></span><span>本科转生求职与就业管理>></span><span>就业签约管理</span>
                <div class="content">
                    <h4>请选择入口：</h4>
                    <ul>
                        <li><a href="/FillBaseInfo/FillESchoolInfo">签学校三方协议就业/签合同就业</a></li>
                        
                        <li><a href="/FillBaseInfo/FillEOtherArmyInfo">其他录用形式就业</a></li>
                        <li><a href="/FillBaseInfo/FillNotJobInfo">暂未就业</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>